* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section {
    width: 100%;
    height: 100vh;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 3);
}


section header .logo {
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}

section header .logo span{
    color: #f9004d;

}


section header ul {
    list-style: none;
    font-weight: bold;
    font-size: 25px;
}

section header ul li {
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;

}

section header ul li a{
    color: black;
    text-decoration: none;
}

section header ul li a:hover{
    color: #f9004d;
}

section header p{
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #71a7c7;
    border-radius: 30px;
    transition: 0.3s;
}
section header p:hover{
    color: white;
    background: #71a7c7;
}

.circle{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(113, 167, 199);
    clip-path: circle(320px at left -230px);
    z-index: -1;
}

.circles{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(113, 167, 199);
    clip-path: circle(250px at right 800px);
    z-index: -1;
}

section .texts h1{
    position: absolute;
    top:30%;
    left: 4%;
    font-size: 100px;
    color: #6a6666;
}

section .texts h1 span{
    color: #71a7c7;

}

section .texts p{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 4%;
    line-height: 26px;
    text-align: justify;
}


section .background_image img{
    width: 600px;
    position: absolute;
    top: 25%;
    left: 47%;
    margin-left: 25px;
}

.clothes h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}
.clothes p{
    text-align: center;
    margin: 35px 0;
    color: gray;
    font-size: 25px;
}

.clothes_box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.clothes_box .clothes_card{
    background: #98b7c1;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.clothes_box .clothes_card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
.clothes .clothes_box img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
}
.clothes .clothes_box img:hover{
    transform: scale(1.1);
}
.clothes_box .clothes_card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0; 
}

.Mugs p{
    text-align: center;
    margin: 35px 0;
    color: gray;
    font-size: 25px;
}

.Mugs_box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.Mugs_box .Mugs_card{
    background: #98b7c1;
    width: 350px;
    padding: 25px 25px 25px 25px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: 0.3s;
}
.Mugs_box .Mugs_card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.Mugs_box .Mugs_card img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
}
.Mugs_box .Mugs_card img:hover{
    transform: scale(1.1);
}
.Mugs_box .Mugs_card h1{
     font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}

.footer{
    background: #2f5b69;
    padding: 50px;
}

.footer .main{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer_cal
{
    width: 25%;
    padding: 0 15px;
}

.footer_cal h4{
    font-size: 18px;
    color: white ;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer_cal h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #f9004d;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_cal ul li{
    margin-bottom: 20px;
}

.footer_cal ul li a{
    text-decoration: none;
    color: #0a0a0a;
    cursor: pointer;
}

.footer_cal .social img{
    width: 25px;
    margin: 7px;
}
